.home-col-1 {
    padding: 0;
    margin: 0;
    border-right: 2px solid #0f211f;
    min-height: 100vh;
}

.ol-map {
    height: 100vh;
    width: 100%;
}

.map-content {
    min-height: 100vh;
    padding:0;
}

.basic-buttons {
    border-bottom: 2px solid #0f211f;
    padding-top: 20px;
    padding-bottom: 10px;
}

.basic-buttons * {
    color: silver;
}

.row-button {
    margin: 0 !important;
    margin-bottom: 10px !important;
    width: 100%;
    background-color: #0f211f;
    border: none;
}

.opacity-slider * {
    color: #0f211f!important;
}
.opacity-menu {
    padding-top: 15px;
}

.progress-bar {
    background-color: #0f211f;
}

.dqbMYY {
    width: 1.5em!important;
    height: 1.5em!important;
    position: relative!important;

    margin-top: -20px!important;
}

.sc-kpOJdX {
    width: .5em!important;
    height: .5em!important;
}

.swap-btn {
    background-color: #0f211f;
    color: silver;
    border: none;
}
